#game {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;  
  box-sizing: border-box; 
}

#game {
  margin: auto;
  width: 200px;
  height: 200px;
}

.t3GameContainer {
  padding-bottom: 20px;
  /*padding-right: 30px;*/
  position: relative;
  width: 100%;
}

#game {
  border-collapse:collapse;
  table-layout: fixed;
  border-spacing: 0;
}

#game .td {
  border: 2px solid #cccccc;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#ccc;
  line-height: 1.428571429;
  width: 30px;
  height: 32px;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  text-align: center;
}

.X{
  background-color: #FF8362;    
}

.O{
  background-color: #BB7365;
}

